{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/pages/login/login-2e8da.css?v=2.0.3') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/pages/custom/login/logine8da.js?v=2.0.3') }}"></script>
{% endblock %}

{% block body %}
	<div
		class="d-flex flex-column flex-root">
		<!--begin::Login-->
		<div class="login login-2 login-signin-on d-flex flex-column flex-column-fluid bg-white position-relative overflow-hidden" id="kt_login">
			{% if error %}
				<div class="container">
					<div class="alert alert-custom alert-notice alert-light-danger fade show mt-10" role="alert">
						<div class="alert-icon">
							<i class="flaticon-warning"></i>
						</div>
						<div class="alert-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						<div class="alert-close">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">
									<i class="ki ki-close"></i>
								</span>
							</button>
						</div>
					</div>
				</div>
			{% endif %}

			{# {% if app.user %}
				<div class="container">
					<div class="alert alert-custom alert-notice alert-light-success fade show" role="alert">
						<div class="alert-icon">
							<i class="flaticon-warning"></i>
						</div>
						<div class="alert-text">You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">
								<strong>Logout</strong>
							</a>
						</div>
						<div class="alert-close">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">
									<i class="ki ki-close"></i>
								</span>
							</button>
						</div>
					</div>
				</div>
			{% endif %} #}

			<!--begin::Header-->
			<div class="login-header py-10 flex-column-auto">
				<div
					class="container d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between">
					<!--begin::Logo-->
					<a href="#" class="flex-column-auto py-5 py-md-0">
						<img src="https://preview.keenthemes.com/keen/theme/demo6/dist/assets/media/logos/logo-6.svg" alt="logo" class="h-50px"/>
					</a>
					<!--end::Logo-->
					<span class="text-muted font-weight-bold font-size-h4">Nouveau ?
						<a href="{{ path('app_register') }}" id="kt_login_signup" class="text-primary font-weight-bolder">Veuiller créer un compte</a>
					</span>
				</div>
			</div>
			<!--end::Header-->

			<!--begin::Body-->
			<div class="login-body d-flex flex-column-fluid align-items-stretch justify-content-center">
				<div class="container row">
					<div
						class="col-lg-6 d-flex align-items-center">
						<!--begin::Signin-->
						<div
							class="login-form login-signin">
							<!--begin::Form-->
							<form
								method="post" class="form w-xxl-550px rounded-lg p-20">
								<!--begin::Title-->
								<div class="pb-13 pt-lg-0 pt-5">
									<h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Bienvenue sur Ritual</h3>
								</div>
								<!--begin::Title-->
								<!--begin::Form group-->
								<div class="form-group">
									<label class="font-size-h6 font-weight-bolder text-dark" for="inputEmail">Email</label>
									<input class="form-control form-control-solid h-auto p-6 rounded-lg" type="email" name="email" id="inputEmail" value="{{ last_username }}" required autofocus/>
								</div>
								<!--end::Form group-->
								<!--begin::Form group-->
								<div class="form-group">
									<div class="d-flex justify-content-between mt-n5">
										<label class="font-size-h6 font-weight-bolder text-dark pt-5" for="inputPassword">Mot de passe</label>
										<a href="javascript:;" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5" id="kt_login_forgot">Mot de passe oublié ?</a>
									</div>
									<input class="form-control form-control-solid h-auto p-6 rounded-lg" type="password" name="password" id="inputPassword" required/>
								</div>
								<!--end::Form group-->

								<!--begin::Form group-->
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<!--end::Form group-->

								<!--begin::Action-->
									<div class="pb-lg-0 pb-5"> <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Se connecter</button>
								</div>
								<!--end::Action-->

							</form>
							<!--end::Form-->
						</div>
						<!--end::Signin-->

						<!--begin::Forgot-->
						<div
							class="login-form login-forgot">
							<!--begin::Title-->
							<div class="pb-13 pt-lg-0 pt-5">
								<h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Mot de passe oublié ?</h3>
								<p class="text-muted font-weight-bold font-size-h4">Veuillez contacter l'administrateur du système</p>
							</div>
							<!--end::Title-->
						</div>
						<!--end::Forgot-->
					</div>
					<div class="col-lg-6 bgi-size-contain bgi-no-repeat bgi-position-y-center bgi-position-x-center min-h-150px mt-10 m-md-0" style="background-image: url({{ asset('media/accomplishment.svg') }})"></div>
				</div>
			</div>
			<!--end::Body-->

			<!--begin::Footer-->
			<div class="login-footer py-10 flex-column-auto">
				<div class="container d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between">
					<div class="font-size-h6 font-weight-bolder order-2 order-md-1 py-2 py-md-0">
						<span class="text-muted font-weight-bold mr-2">2020©</span>
						<a href="#" target="_blank" class="text-dark-50 text-hover-primary">Ritual</a>
					</div>
				</div>
			</div>
			<!--end::Footer-->
		</div>
		<!--end::Login-->
	</div>
{% endblock %}
