{% extends 'base.html.twig' %}

{% block title %}Administrateur index{% endblock %}

{% block body %}
    <h1>Administrateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>PhotoUrl</th>
                <th>Telephone</th>
                <th>DateCreation</th>
                <th>DateDesactivation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for administrateur in administrateurs %}
            <tr>
                <td>{{ administrateur.id }}</td>
                <td>{{ administrateur.email }}</td>
                <td>{{ administrateur.roles ? administrateur.roles|json_encode : '' }}</td>
                <td>{{ administrateur.password }}</td>
                <td>{{ administrateur.nom }}</td>
                <td>{{ administrateur.photoUrl }}</td>
                <td>{{ administrateur.telephone }}</td>
                <td>{{ administrateur.dateCreation ? administrateur.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ administrateur.dateDesactivation ? administrateur.dateDesactivation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('administrateur_show', {'id': administrateur.id}) }}">show</a>
                    <a href="{{ path('administrateur_edit', {'id': administrateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('administrateur_new') }}">Create new</a>
{% endblock %}
