{% extends 'profil/aside.html.twig' %}

{% block content_subheader_text %}
	<!--begin::Page Heading-->
	<div
		class="d-flex align-items-baseline flex-wrap mr-5">
		<!--begin::Page Title-->
		<h5 class="text-dark font-weight-bold my-1 mr-5">Profil</h5>
		<!--end::Page Title-->
		<!--begin::Breadcrumb-->
		<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
			<li class="breadcrumb-item text-muted">
				<span class="text-muted">Application</span>
			</li>

			{% if is_granted('ROLE_CONSOMMATEUR') %}
				<li class="breadcrumb-item text-muted">
					<a href="{{ path('consommateur_index') }}" class="text-muted">Accueil</a>
				</li>
			{% elseif is_granted('ROLE_RESTAURANT') %}
				<li class="breadcrumb-item text-muted">
					<a href="{{ path('restaurant_index') }}" class="text-muted">Accueil</a>
				</li>
			{% elseif is_granted('ROLE_ADMINISTRATEUR') %}
				<li class="breadcrumb-item text-muted">
					<a href="{{ path('administrateur_index') }}" class="text-muted">Accueil</a>
				</li>
			{% endif %}

			<li class="breadcrumb-item text-muted">
				<a href="{{ path('profile_index') }}" class="text-muted">Profil utilisateur</a>
			</li>
			<li class="breadcrumb-item text-muted">
				<a href="#" class="text-muted">Informations du compte</a>
			</li>
		</ul>
		<!--end::Breadcrumb-->
	</div>
{% endblock %}

{% block aside_nav %}
	<!--begin::Nav-->
	<div class="navi navi-bold navi-hover navi-active navi-link-rounded">
		<div class="navi-item mb-2">
			<a href="{{ path('profile_index') }}" class="navi-link py-4">
				<span class="navi-icon mr-2">
					<span
						class="svg-icon">
						<!--begin::Svg Icon | path:/keen/theme/demo6/dist/assets/media/svg/icons/General/User.svg-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<polygon points="0 0 24 0 24 24 0 24"/>
								<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
								<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
							</g>
						</svg>
						<!--end::Svg Icon-->
					</span>
				</span>
				<span class="navi-text font-size-lg">Informations Personnelles</span>
			</a>
		</div>

		<div class="navi-item mb-2">
			<a href="{{ path('profile_account_index') }}" class="navi-link py-4 active">
				<span class="navi-icon mr-2">
					<span
						class="svg-icon">
						<!--begin::Svg Icon | path:/keen/theme/demo6/dist/assets/media/svg/icons/Code/Compiling.svg-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<rect x="0" y="0" width="24" height="24"/>
								<path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3"/>
								<path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000"/>
							</g>
						</svg>
						<!--end::Svg Icon-->
					</span>
				</span>
				<span class="navi-text font-size-lg">Informations du compte</span>
			</a>
		</div>
	</div>
	<!--end::Nav-->
{% endblock %}

{% block profile_content_body %}
	<!--begin::Content-->
	<div class="flex-row-fluid ml-lg-8">
		{{ form_start(form, {'attr': { 'class': 'form' }}) }}
		<!--begin::Card-->
		<div
			class="card card-custom">
			<!--begin::Header-->
			<div class="card-header py-3">
				<div class="card-title align-items-start flex-column">
					<h3 class="card-label font-weight-bolder text-dark">Informations du compte</h3>
					<span class="text-muted font-weight-bold font-size-sm mt-1">Modifier les informations de votre compte</span>
				</div>
				<div class="card-toolbar">
					<button type="submit" class="btn btn-primary font-weight-bolder mr-2">Enregistrer</button>
					<button type="reset" class="btn btn-light-primary font-weight-bolder">Annuler</button>
				</div>
			</div>
			<!--end::Header-->

			<!--begin::Form-->
			<div class="card-body">
				{% for message in app.flashes('error') %}
					<div class="alert alert-custom alert-outline-2x alert-outline-danger fade show mb-5" role="alert">
						<div class="alert-icon">
							<span
								class="svg-icon svg-icon-3x svg-icon-danger">
								<!--begin::Svg Icon | path:/keen/theme/demo6/dist/assets/media/svg/icons/Code/Info-circle.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<rect x="0" y="0" width="24" height="24"/>
										<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
										<rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"/>
										<rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"/>
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
						</div>
						<div class="alert-text">{{ message }}</div>
						<div class="alert-close">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">
									<i class="ki ki-close"></i>
								</span>
							</button>
						</div>
					</div>
				{% endfor %}

				<!--begin::Alert-->
				<div class="alert alert-custom alert-light-danger fade show mb-10" role="alert">
					<div class="alert-icon">
						<span
							class="svg-icon svg-icon-3x svg-icon-danger">
							<!--begin::Svg Icon | path:/keen/theme/demo6/dist/assets/media/svg/icons/Code/Info-circle.svg-->
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect x="0" y="0" width="24" height="24"/>
									<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
									<rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"/>
									<rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"/>
								</g>
							</svg>
							<!--end::Svg Icon-->
						</span>
					</div>

					<div class="alert-text font-weight-bold">
						<strong>Attention</strong>: La modification de l'Email ou du Mot de passe est définitive.
					</div>
					<div class="alert-close">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">
								<i class="ki ki-close"></i>
							</span>
						</button>
					</div>
				</div>
				<!--end::Alert-->

				<div class="row">
					<label class="col-xl-3"></label>
					<div class="col-lg-9 col-xl-6">
						<h5 class="font-weight-bold mb-6">Changer Email</h5>
					</div>
				</div>

				<!--begin::Form Group-->
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">Adresse Email</label>
					<div class="col-lg-9 col-xl-6">
						<div class="input-group input-group-lg input-group-solid">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="la la-at"></i>
								</span>
							</div>
							{{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg form-control-solid', 'placeholder': 'Nouvelle Adresse Email'}}) }}
						</div>
						<span class="form-text text-danger">{{ form_errors(form.email) }}</span>
						{% if not form_errors(form.email) %}
							<span class="form-text text-muted">Donner le nouvelle adresse Email du compte.</span>
						{% endif %}
					</div>
				</div>
				<!--end::Form Group-->

				<div class="row">
					<label class="col-xl-3"></label>
					<div class="col-lg-9 col-xl-6">
						<h5 class="font-weight-bold mt-10 mb-6">Changer Mot de passe</h5>
					</div>
				</div>

				<!--begin::Form Group-->
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-alert text-right">Mot de passe actuel</label>
					<div class="col-lg-9 col-xl-6">
						{{ form_widget(form.oldPassword, {'attr': {'class': 'form-control form-control-lg form-control-solid mb-2', 'placeholder': 'Mot de passe actuel'}}) }}
					</div>
				</div>
				<!--end::Form Group-->

				<!--begin::Form Group-->
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-alert text-right">Nouveau Mot de passe</label>
					<div class="col-lg-9 col-xl-6">
						{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control form-control-lg form-control-solid', 'placeholder': 'Nouveau mot de passe'}}) }}
						<span class="form-text text-danger">{{ form_errors(form.plainPassword.first) }}</span>
						{% if not form_errors(form.plainPassword.first) %}
							<span class="form-text text-muted">Entrer le nouveau mot de passe.</span>
						{% endif %}
					</div>
				</div>
				<!--end::Form Group-->

				<!--begin::Form Group-->
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-alert text-right">Confirmation Mot de passe</label>
					<div class="col-lg-9 col-xl-6">
						{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control form-control-lg form-control-solid', 'placeholder': 'Répéter le nouveau mot de passe'}}) }}
						<span class="form-text text-danger">{{ form_errors(form.plainPassword.second) }}</span>
					</div>
				</div>
				<!--end::Form Group-->
			</div>
			<!--end::Form-->
		</div>
		<!--end::Card-->
		{{ form_end(form) }}
	</div>
	<!--end::Content-->
{% endblock %}
