{% extends 'profil/aside.html.twig' %}

{% block content_subheader %}
	<!--begin::Page Title-->
	<h5 class="text-dark font-weight-bold my-1 mr-5">Profil</h5>
	<!--end::Page Title-->
	<!--begin::Breadcrumb-->
	<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
		<li class="breadcrumb-item text-muted">
			<span class="text-muted">Application</span>
		</li>

		{% if is_granted('ROLE_CONSOMMATEUR') %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('consommateur_index') }}" class="text-muted">Accueil</a>
			</li>
		{% elseif is_granted('ROLE_RESTAURANT') %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('restaurant_index') }}" class="text-muted">Accueil</a>
			</li>
		{% elseif is_granted('ROLE_ADMINISTRATEUR') %}
			<li class="breadcrumb-item text-muted">
				<a href="{{ path('administrateur_index') }}" class="text-muted">Accueil</a>
			</li>
		{% endif %}

		<li class="breadcrumb-item text-muted">
			<a href="{{ path('profile_index') }}" class="text-muted">Profil utilisateur</a>
		</li>
		<li class="breadcrumb-item text-muted">
			<a href="#" class="text-muted">Informations personnelles</a>
		</li>
	</ul>
	<!--end::Breadcrumb-->
{% endblock %}

{% block profile_content_body %}
	<!--begin::Content-->
	<div class="flex-row-fluid ml-lg-8">
		{{ form_start(form, {'attr': { 'class': 'form' }}) }}

		<!--begin::Card-->
		<div
			class="card card-custom card-stretch">
			<!--begin::Header-->
			<div class="card-header py-3">
				<div class="card-title align-items-start flex-column">
					<h3 class="card-label font-weight-bolder text-dark">Informations personnelles</h3>
					<span class="text-muted font-weight-bold font-size-sm mt-1">Modifier vos informations personnelles</span>
				</div>
				<div class="card-toolbar">
					<button type="submit" class="btn btn-primary font-weight-bolder mr-2">Enregistrer</button>
					<button type="reset" class="btn btn-light-primary font-weight-bolder">Annuler</button>
				</div>
			</div>
			<!--end::Header-->

			<!--begin::Body-->
			<div class="card-body">
				<div class="row">
					<label class="col-xl-3"></label>
					<div class="col-lg-9 col-xl-6">
						<h5 class="font-weight-bold mb-6">Information Utilisateur</h5>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">Nom</label>
					<div class="col-lg-9 col-xl-6">
						{{ form_widget(form.nom, {'attr': {'class': 'form-control form-control-lg form-control-solid', 'placeholder': 'Nom'}}) }}
						<span class="form-text text-danger">{{ form_errors(form.nom) }}</span>
					</div>
				</div>
				
				<div class="row">
					<label class="col-xl-3"></label>
					<div class="col-lg-9 col-xl-6">
						<h5 class="font-weight-bold mt-10 mb-6">Information Contact</h5>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">Numéro Téléphone</label>
					<div class="col-lg-9 col-xl-6">
						<div class="input-group input-group-lg input-group-solid">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="la la-phone"></i>
								</span>
							</div>
							{{ form_widget(form.telephone, {'attr': {'class': 'form-control form-control-lg form-control-solid', 'placeholder': 'Téléphone'}}) }}
							<span class="form-text text-danger">{{ form_errors(form.telephone) }}</span>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xl-3 col-lg-3 col-form-label text-right">Adresse Email</label>
					<div class="col-lg-9 col-xl-6">
						<div class="input-group input-group-lg input-group-solid">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="la la-at"></i>
								</span>
							</div>
							{{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg form-control-solid', 'placeholder': 'Adresse Email', 'readonly': 'true'}}) }}
						</div>
					</div>
					<a href="{{ path('profile_account_index') }}" class="btn btn-secondary font-weight-bolder my-1">
						Modifier
					</a>
				</div>
			</div>
			<!--end::Body-->
		</div>
		<!--end::Card-->

		{{ form_end(form) }}
	</div>
	<!--end::Content-->
{% endblock %}
