{% extends 'base.html.twig' %}

{% block title %}Consommateur{% endblock %}

{% block body %}
    <h1>Consommateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consommateur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ consommateur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ consommateur.roles ? consommateur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ consommateur.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ consommateur.nom }}</td>
            </tr>
            <tr>
                <th>PhotoUrl</th>
                <td>{{ consommateur.photoUrl }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ consommateur.telephone }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ consommateur.dateCreation ? consommateur.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateDesactivation</th>
                <td>{{ consommateur.dateDesactivation ? consommateur.dateDesactivation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('consommateur_index') }}">back to list</a>

    <a href="{{ path('consommateur_edit', {'id': consommateur.id}) }}">edit</a>

    {{ include('consommateur/_delete_form.html.twig') }}
{% endblock %}
