{% extends 'content.html.twig' %}

{% block title %}Restaurant -
	{{restaurant.nom}}
{% endblock %}

{% block content_header %}
	<!--begin::Header Nav-->
	<ul class="menu-nav">
		<li class="menu-item menu-item-active" aria-haspopup="true">
			<a href="#" class="menu-link">
				<span class="menu-text">Accueil</span>
			</a>
		</li>

		<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
			<a href="javascript:;" class="menu-link menu-toggle">
				<span class="menu-text">Commandes</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="menu-submenu menu-submenu-classic menu-submenu-left">
				<ul class="menu-subnav">
					<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
						<a href="#" class="menu-link menu-toggle">
							<span
								class="svg-icon menu-icon">
								<!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Communication/Add-user.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24"/>
										<path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
										<path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
							<span class="menu-text">Encours</span>
						</a>
					</li>

					<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
						<a href="#" class="menu-link menu-toggle">
							<span
								class="svg-icon menu-icon">
								<!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Communication/Add-user.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24"/>
										<path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
										<path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
							<span class="menu-text">Programmées</span>
						</a>
					</li>

					<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
						<a href="#" class="menu-link menu-toggle">
							<span
								class="svg-icon menu-icon">
								<!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Communication/Add-user.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24"/>
										<path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
										<path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
							<span class="menu-text">Effectuées</span>
						</a>
					</li>

					<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
						<a href="#" class="menu-link menu-toggle">
							<span
								class="svg-icon menu-icon">
								<!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Communication/Add-user.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24"/>
										<path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
										<path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
							<span class="menu-text">Annulées</span>
						</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="menu-item" aria-haspopup="true">
			<a href="#" class="menu-link">
				<span class="menu-text">Récompences</span>
			</a>
		</li>

		<li class="menu-item" aria-haspopup="true">
			<a href="#" class="menu-link">
				<span class="menu-text">Groupes</span>
			</a>
		</li>

		<li class="menu-item" aria-haspopup="true">
			<a href="#" class="menu-link">
				<span class="menu-text">Carnet d'adresse</span>
			</a>
		</li>
	</ul>
	<!--end::Header Nav-->
{% endblock %}

{% block content_header_right %}
	<!--begin::Topbar-->
	<div
		class="topbar">
		<!--begin::Search-->
		<div
			class="dropdown mr-1" id="kt_quick_search_toggle">
			<!--begin::Toggle-->
			<div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
				<div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg">
					<span
						class="svg-icon svg-icon-xl">
						<!--begin::Svg Icon | path:/keen/theme/demo6/dist/assets/media/svg/icons/General/Search.svg-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<rect x="0" y="0" width="24" height="24"/>
								<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
								<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/>
							</g>
						</svg>
						<!--end::Svg Icon-->
					</span>
				</div>
			</div>
			<!--end::Toggle-->
			<!--begin::Dropdown-->
			<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
				<div
					class="quick-search quick-search-dropdown" id="kt_quick_search_dropdown">
					<!--begin:Form-->
					<form method="get" class="quick-search-form">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<span
										class="svg-icon svg-icon-lg">
										<!--begin::Svg Icon | path:/keen/theme/demo6/dist/assets/media/svg/icons/General/Search.svg-->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<rect x="0" y="0" width="24" height="24"/>
												<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
												<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/>
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
								</span>
							</div>
							<input type="text" class="form-control" placeholder="Search..."/>
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="quick-search-close ki ki-close icon-sm text-muted"></i>
								</span>
							</div>
						</div>
					</form>
					<!--end::Form-->
					<!--begin::Scroll-->
					<div class="quick-search-wrapper scroll" data-scroll="true" data-height="325" data-mobile-height="200"></div>
					<!--end::Scroll-->
				</div>
			</div>
			<!--end::Dropdown-->
		</div>
		<!--end::Search-->

		<!--begin::Chat-->
		<div class="topbar-item mr-1">
			<div class="btn btn-icon btn-hover-transparent-white btn-clean btn-lg" data-toggle="modal" data-target="#kt_chat_modal">
				<span
					class="svg-icon svg-icon-xl">
					<!--begin::Svg Icon | path:/keen/theme/demo6/dist/assets/media/svg/icons/Communication/Chat6.svg-->
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24"/>
							<path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M14.4862 18L12.7975 21.0566C12.5304 21.54 11.922 21.7153 11.4386 21.4483C11.2977 21.3704 11.1777 21.2597 11.0887 21.1255L9.01653 18H5C3.34315 18 2 16.6569 2 15V6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V15C22 16.6569 20.6569 18 19 18H14.4862Z" fill="black"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M6 7H15C15.5523 7 16 7.44772 16 8C16 8.55228 15.5523 9 15 9H6C5.44772 9 5 8.55228 5 8C5 7.44772 5.44772 7 6 7ZM6 11H11C11.5523 11 12 11.4477 12 12C12 12.5523 11.5523 13 11 13H6C5.44772 13 5 12.5523 5 12C5 11.4477 5.44772 11 6 11Z" fill="black"/>
						</g>
					</svg>
					<!--end::Svg Icon-->
				</span>
			</div>
		</div>
		<!--end::Chat-->

		<!--begin::User-->
		<div class="topbar-item mr-3">
			<div class="btn btn-icon btn-hover-transparent-white w-auto d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
				<div class="symbol symbol-circle symbol-30 bg-white overflow-hidden">
					<div class="symbol-label">
						<img alt="Logo" src="https://preview.keenthemes.com/keen/theme/demo6/dist/assets/media/svg/avatars/001-boy.svg" class="h-75 align-self-end"/>
					</div>
				</div>
			</div>
		</div>
		<!--end::User-->
	</div>
	<!--end::Topbar-->
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_body %}
	<!--begin::Entry-->
	<div
		class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div
			class="container-fluid">
			<!--begin::Row-->
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div
							class="col-lg-12">
							<!--begin::Card-->
							<div class="card card-custom gutter-b card-sticky" id="kt_page_sticky_card">
								<div class="card-header">
									<div class="card-title">
										<h1 class="card-label h1 font-weight-bolder">{{restaurant.nom}}</h1>
									</div>

									<div class="card-toolbar">
										<div class="dropdown dropdown-inline">
											<a href="#" class="btn btn-hover-light-primary btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span
													class="svg-icon svg-icon-2x">
													<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2020-10-07-041015/theme/demo6/dist/../src/media/svg/icons/Code/Info-circle.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24"/>
															<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
															<rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"/>
															<rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"/>
														</g>
													</svg>
													<!--end::Svg Icon-->
												</span>
											</a>
										</div>
									</div>
								</div>

								<div class="card-body">
									<div class="card-toolbar">
										<ul class="nav nav-light-primary nav-bold nav-pills">
											{% set var = 0 %}
											{% for item in menus %}
												{% if item[1] %}
													{% if var == 0 %}
														<li class="nav-item">
															<a class="nav-link active" data-toggle="tab" href="#menu_{{item[0].id}}">
																<span class="nav-text">{{item[0].titre}}</span>
															</a>
														</li>
														{% set var = 1 %}
													{% else %}
														<li class="nav-item">
															<a class="nav-link" data-toggle="tab" href="#menu_{{item[0].id}}">
																<span class="nav-text">{{item[0].titre}}</span>
															</a>
														</li>
													{% endif %}
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<!--end::Card-->
						</div>
					</div>

					{% for item in menus %}
						{% if item[1] %}
							<div class="row" id="menu_{{item[0].id}}">
								<div class="col-lg-12">
									<div class="card card-custom gutter-b">
										<div class="card-header">
											<div class="card-title">
												<h3 class="card-label">{{item[0].titre}}</h3>
											</div>
										</div>
									</div>
								</div>

								{% for article in item[1] %}
									<div
										class="col-lg-4">
										<!--begin::Callout-->
										<div class="card card-custom gutter-b">
											<div class="card-body">
												<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
													<div class="d-flex flex-column mr-5">
														<a href="#" class="h4 text-dark mb-5">{{article.article.titre}}</a>
														<p class="text-dark-50">{{article.article.description}}</p>
													</div>
													<div class="ml-6 flex-shrink-0">
														<button type="button" class="btn font-weight-bolder btn-light-primary py-4 px-4" data-toggle="modal" data-target="#staticBackdrop_{{ article.id }}">
															{{item[2][article.article.id][0].prix.montant}}
															{{item[2][article.article.id][0].prix.devise}}
														</button>
													</div>
												</div>
											</div>
										</div>
										<!--end::Callout-->

										<div class="modal fade" id="staticBackdrop_{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop_{{ article.id }}" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header border-0">
														<div>
															<h3 class="font-size-h2 font-weight-bolder">{{article.article.titre}}</h3>
															<p class="text-muted">{{article.article.description}}</p>
														</div>
													</div>

													<div class="modal-body py-0">
														{% if item|length == 4 %}
															<h3 class="font-size-h3 font-weight-bolder">Les suppléments</h3>

															{% for groupe in item[3][article.article.id] %}
																<div class="form-group m-0 p-0">
																	<label class="ml-5 my-2 h6 font-weight-bold">{{groupe[0].titre}}</label>
																	{% if groupe[0].type == "Radio" %}
																		<div class="radio-list">
																			{% for g in groupe[1] %}
																				<div class="clearfix my-1 p-5 border rounded">
																					<label class="radio font-weight-bold float-left p-0 m-0">
																						<input type="radio" name="radios_{{groupe[0].id}}"/>
																						<span></span>
																						{{g.supplement.titre}}
																					</label>
																					<h3 class="font-size-h5 font-weight-bold float-right p-0 m-0">+100 pts</h3>
																				</div>
																			{% endfor %}
																		</div>
																	{% else %}
																		<div class="checkbox-list">
																			{% for g in groupe[1] %}
																				<div class="clearfix my-1 p-5 border rounded">
																					<label class="checkbox font-weight-bold float-left p-0 m-0">
																						<input type="checkbox" name="checkbox_{{groupe[0].id}}"/>
																						<span></span>
																						{{g.supplement.titre}}
																					</label>
																					<h3 class="font-size-h5 font-weight-bold float-right p-0 m-0">+100 pts</h3>
																				</div>
																			{% endfor %}
																		</div>
																	{% endif %}
																</div>
															{% endfor %}

															<div class="row pt-10 pb-5">
																<div class="col-md-3">
																	<button type="button" class="btn btn-secondary btn-lg btn-block font-weight-bold" data-dismiss="modal">Annuler</button>
																</div>
																<div class="col-md-9">
																	<button type="button" class="btn btn-primary btn-lg btn-block font-weight-bold">Ajouter au panier</button>
																</div>
															</div>
														{% else %}
															<div class="form-group">
																<div class="alert alert-custom alert-default border" role="alert">
																	<div class="alert-text text-center">Aucun Supplément.</div>
																</div>
															</div>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<div class="col-lg-3">
					<div class="card card-custom gutter-b overlay">
						<div class="card-body p-0">
							<div class="overlay-wrapper">
								<img src="{{ asset(restaurant.photoUrl) }}" alt="" class="w-100 rounded"/>
							</div>
							<div class="overlay-layer m-5 rounded align-items-end justify-content-start">
								<div class="d-flex flex-column align-items-start mb-5 ml-5">
									<span class="font-size-h2 font-weight-bolder text-white text-hover-danger">{{restaurant.nom}}</span>
								</div>
							</div>
						</div>
					</div>

					<div class="card card-custom gutter-b p-0">
						<div class="card-body p-7">
							<p class="text-muted font-weight-bold p-0 m-0">{{restaurant.slogan}}</p>
							<div class="separator separator-solid separator-border-1 m-5"></div>
							<p class="text-dark font-weight-bold p-0 m-0">{{restaurant.adresse}}</p>
						</div>
					</div>
				</div>
			</div>
			<!--end::Row-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->
{% endblock %}
